*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
header{

	width: 100%;
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
header a{
	text-decoration: none;
}
.wrapper{
	background: rgb(0,4,57);
	background: linear-gradient(90deg, rgba(0,4,57,1) 0%, rgba(0,44,113,1) 40%, rgba(0,44,113,1) 60%, rgba(0,4,57,1) 100%);
	padding: 10px;
	font-size: 1.2rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.wrapper a{
	color: white;
}
.worktime:hover,
.phone-number:hover,
.email:hover{
	text-decoration: underline;
}
.wrapper li{
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.wrapper li[class]:before,
#medium-menu li[class]:before{
	content: "";
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin-right: 10px;
	height: 1.75rem;
	width: 1.75rem;
}
.wrapper li[class]:after{
	content: "";
	background: url(../images/line-icon.png);
	height: 40px;
	width: 1px;
	margin-left: 10px;
	display: inline-block;
	background-position: center;
	background-size: cover;
}
.worktime:before{
	background: url(../images/time-icon.png);

}
.worktime
{
	position: relative;
	background: inherit;
}
.worktime-wrapper{

}
.worktime-wrapper:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowDownWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.worktime:hover .worktime-wrapper:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowUpWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.worktime:hover .worktime-list {display: flex;}
.worktime-list{
	display: none;
	position: absolute;
	background: rgb(70, 70, 70);
	border: 2px solid black;
	top: 85%;
	flex-direction: column;
	z-index: 1;
	min-width: 250px;
	color: white;
	text-decoration: none;
	padding: 2px 0;
}
.worktime-list li{
	display: flex;
	justify-content: center;
	cursor: text;
	width: 100%;
	margin: 0;
}
.phone-number:before{
	background: url(../images/phone-icon.png);
}
.email:before{
	background: url(../images/email-icon.png);
}
.call-button{
	padding: 10px 20px;
	background: #4aa4d6;
	border-radius: 20px;
	border-width: 0;
	border: 2px solid black;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	cursor: pointer;
	outline: none;
}

.call-button:hover{
	background: white;
	color: rgb(0,44,113);
	box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.7);
}
/* .call-button:active+.call-form-wrapper{display:block;} */
.call-form-wrapper.show{
	display: block;
}
.call-form-wrapper{
	display: none;
	position: absolute;
	background: rgba(50,50,50,.5);
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:2;
	cursor: default;
}

.call-form-block{
	position:relative;
	float:right;
	clear:both;
	height:100%;
	background:white;
	color: black !important;
}
.form-title{
	display:flex;
	justify-content: center;
	flex-direction: column;
	border-bottom: 1px solid rgba(150,150,150,0.5);
	padding: 20px 0 5px 0;
}
.form-title p,
.form-title h2{
	display: flex;
	justify-content: center;
	padding: 5px 20px;
}
.call-form{
	padding: 5px 20px;
	display: flex;
	flex-direction: column;
}
.call-form input{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	font-size: 1rem;
}
.checkbox{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 20px;
}
.checkbox input{
	height: 20px;
	width: 20px;
	margin: 0 5px 0 0;
}
.checkbox span{
	font-size: 1rem;
}
.call-form-button{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	background: rgb(75,180,230);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
}
.exit-button{
	content: url("../images/exit-icon.png");
	position: absolute;
	right: 0;
	width: 2rem;
	cursor: pointer;
	background: rgb(75,180,230);
	border-radius: 100%;
	opacity: .5;
	z-index:3;
	margin:10px;
	
}
.exit-button:hover{
	opacity: 1;
}

.menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	height: 60px;
	color: black;
}
.menu a{
	color: black;
}
.logo{
	display: flex;
	margin-right: 15px;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding: 10px 0;
}
.logo img{
	width: 2.5rem;
}
#large-menu{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#large-menu li{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 12px;
	color: black;
}
#large-menu a{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#large-menu li:hover{
	background: rgba(0,44,113,0.5);
	color: white;
}
#large-menu li:hover a{
	color: white;
}

.visa-menu{
	position: relative;
	cursor: pointer;
}
.visa-menu:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowDown-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.visa-menu:hover:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowUpWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.visa-menu:hover .visa-list{
	display: flex;
}
.visa-list{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	flex-direction: column;
	background: white;
	color: black;
	border: 2px solid black;
	border-top: none;
	min-width: 300px;
}
.visa-list li,
.visa-list a{
	width: 100%;
	height: 100%;
}
.visa-list li{
	padding: 5px 0;
	border-top: 2px solid black;
}

.polish-visa{
	position: relative;
	cursor: pointer;
}
.polish-visa:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowRight-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.polish-visa:hover:after{
	content: "";
	display: inline-block;
	background: url(../images/arrowRightWhite-icon.png);
	background-position: center;
	background-size: cover;
	width: 10px;
	height: 10px;
	margin-left: 5px;
}
.polish-visa:hover .polish-visa-list{
	display: flex;
}
.polish-visa-list{
	display: none;
	position: absolute;
	flex-direction: column;
	top: -2px;
	left: 100%;
	background: white;
	border: 2px solid black;
	border-top: none;
	min-width: 300px;
	color: white !important;
}
.burger{
	margin-right:10px;
	padding:5px;
	cursor: pointer;
}
.burger:hover{
	background: rgb(40,40,40);
}
.burger img{
	width: 2rem;
	pointer-events: none;
}
/*main*/
main{
	background: yellow;
}
/*footer*/
footer{
	background: rgba(0,4,57,1);
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 1.25rem;
}
@media (min-width:961px)
{
	#medium-menu,.burger{display:none}
}
@media (max-width:960px)
{
	html{font-size:14px;}
	.wrapper,#large-menu{display: none;}
	.menu{ 
		display:flex; 
		justify-content: space-between; 
		background: rgb(0,4,57);
		background: linear-gradient(90deg, rgba(0,4,57,1) 0%, rgba(0,44,113,1) 40%, rgba(0,44,113,1) 60%, rgba(0,4,57,1) 100%);
		color: white;
	}
	.menu a{color:white;}
	#medium-menu{
		display:flex;
		justify-content: space-between; 
		align-items:center; 
		min-width: 50%;

	}
	#medium-menu li{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 10px;

	}
	.logo{margin:0;}
	.worktime{cursor:pointer;}
	.worktime-list{
		top:110%;
	}
	.burger{display:flex;}
}
@media(min-width: 601px)
{

}
@media (max-width:600px)
{
	html{font-size:12px;}
	#medium-menu .worktime{display:none;}
	#medium-menu{min-width:0;}
	#medium-menu li{margin:0;}
}